extends layout

block content
  h1= Migration Wizard
  p Welcome to the migration wizard! This wizard will help you to magically migrate your MySQL database into MongoDB. 
  p Firstly, lets connect to the MySQL database. 
