extends layout

block content
    .item
        h2 Migration complete
        p These users were added
        table
            each user in userList
                tr
                td #{user.userName}