extends layout

block content
    .item
        .headliner Migration Wizard
    .item
        .subliner The easy way to migrate your MySQL database into MongoDB

    .item
        a(href='/migrate')
            button Lets start