extends ../layouts/default

block intro
    .container
        h1 #{page.slug}'s blog

block content
    .container
        p #{page.page}

        if !data.post
            h2 Invalid Post.
        else
            header
                h1= data.post.title

        
