extends ../layouts/default

block content
    .container
        h1 User panel
        hr
        
        h4 Change password
        if passwordSubmitted
            p Password successfully changed
        else
            .row: .col-sm-8.col-md-6
                form(method='post', action='user')
                    .form-group
                        label New password
                        input(type='text', name='password').form-control
                    .form-actions
                        button(type='submit').btn.btn-primary Submit