extends layout

block content
    .content-wrapper
        .title
            .headliner About
            br
        .text
            p MigWiz is a tool for migrating your WordPress application into KeystoneJS. The migration wizard will take your Multi-site system and migrate all the relevant data into a new KeystoneJS-application. Migration of databases is hard work - let MigWiz do it for you!
            
        br 
        br
        h2 Features
        .features-wrapper
            .features-item
                .features-icon 
                    img.image(src='http://localhost:3000/images/check.png')
                .features-text 
                    p Complete migration of user systems including admin priviligies
            .features-item
                .features-icon 
                    img.image(src='http://localhost:3000/images/check.png')
                .features-text 
                    p Full Multi-Site configuration included
            .features-item
                .features-icon 
                    img.image(src='http://localhost:3000/images/check.png')
                .features-text 
                    p Includes posts & pages of each user and subdomain
        