extends layout

block content
    .content-wrapper
        .title
            .headliner Migration in process
            br
        if mig.success
            .text
                p= mig.msg
            br
            .text 
                h2
                .features-wrapper
                    .features-item
                        .features-icon 
                            img.image(src='http://localhost:3000/images/' + mig.first)
                        .features-text 
                            p Migrate all of the users 
                    .features-item
                        .features-icon 
                            img.image(src='http://localhost:3000/images/' + mig.second)
                        .features-text 
                            p Setting up a backend environment
                    .features-item
                        .features-icon 
                            img.image(src='http://localhost:3000/images/' + mig.third)
                        .features-text 
                            p Establishing relationships between data
                    .features-item
                        .features-icon 
                            img.image(src='http://localhost:3000/images/' + mig.fourth)
                        .features-text 
                            p Transfering all related posts
                            
            br
            br
            .text
                if !mig.done
                    p Lets go to the next step!
                    a(href='http://localhost:3000/' + mig.next) 
                        button Yeah, lets go!
                else
                    p Your application has successfully been migrated into Keystonejs.
                    .headliner Enjoy! 
            br
        else
            .text Oh no! Something went wrong. 
            .text= mig.error
        

