extends layout

block content
    .flexbox-wrapper
        .item
            .headliner Step 2 complete
        .item
            .subliner #{users} posts loaded.
        .item 
            p Now, all posts are to be migrated into Keystone. Ready when you are.
            a(href='/migrate3')
                button Go go go!