extends layout

block content
    .flexbox-wrapper
        .item
            .headliner Step 1 complete
        .item
            .subliner #{userList.length} users added
        .item 
            p Now it's time to load some posts. Ready to proceed to step 2?
            a(href='/migrate2')
                button Let's do it!